* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

:root {
    --h2-size: 70px
}

body {
    background: #ededed;
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
    overflow-x: hidden;
}

nav {
    width: 57%;
    position: fixed;
    width: 100vw;
    height: 25vh;
    margin-top: 0;
    animation-name: nav-animation;
    animation-fill-mode: forwards;
    animation-timeline: scroll();
    animation-range: 100px 300px;
    z-index: 10;
}

#menu {
    position: relative;
    top: -75px;
    left: -50px;
    display: flex;
    justify-content: space-around;
}

#img1 {
    /* mix-blend-mode: difference; */
    position: relative;
    /* top: 10px; */
    width: 35px;
}

#img1 img {
    /* position: relative; */
    /* top: 10px; */
}

@keyframes nav-animation {
    0% {
        opacity: 0;

    }

    100% {
        opacity: 1;
        height: 100px;
        background: #1f1f1f;
        box-shadow: 0 5px 20px #201c1c;
    }
}

input {
    display: none;
}

nav a {
    color: #ffffff;
    /* color: #000000; */
    /* mix-blend-mode: difference; */
    text-decoration: none;
    font-size: 20px;
    transition: 0.5s;
}

nav a:hover {
    color: #ffffff4a;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin: 36px;
}

.logo img {
    width: 60px;
}

.progres-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 5px;
    background: #ffffff;
    z-index: 999;
    animation-name: fill-progress;
    animation-timing-function: linear;
    animation-timeline: scroll();
}

.home-page {
    display: flex;
    align-items: center;
    position: relative;
    top: 25em;
    width: 55%;
    left: -150px;
    flex-direction: column;
}

.home-page h1 {
    font-size: 120px;
    margin: 10px;
    letter-spacing: 10px;
    opacity: 0;
    color: #333;
}

.hed-h1-1 {
    animation: pageh1 2s ease-out forwards;
    animation-duration: 2s;
    animation-delay: 1s;
}

.hed-h1-2 {
    position: relative;
    left: 90px;
    animation: pageh1 2s ease-out forwards;
    animation-duration: 2s;
    animation-delay: 2s;
}

.hed-h1-3 {
    position: relative;
    left: 450px;
    animation: pageh1 2s ease-out forwards;
    animation-duration: 2s;
    animation-delay: 3s;
}

.block-p {
    width: 200px;
    top: 750px;
    left: 60px;
    position: absolute;
    font-size: 20px;
    color: #333;
    opacity: 0;
    animation: block-p 2s 4.5s ease-out forwards;

}

.block-img {
    position: absolute;
    z-index: -4;
    right: 100px;
    top: 40px;
    opacity: 0;
    animation: block-img 2s 1s ease-out forwards;
}

.block-img img {
    width: 400px;
}

.button {
    position: absolute;
    right: -700px;
    width: 100px;
    height: 100px;
    top: 750px;
    text-align: center;
    border: 1px solid #333;
    border-radius: 50%;
    opacity: 0;
    animation: block-butt 2s 1s ease-out forwards;
}

.button a {
    color: #333;
    position: relative;
    top: 30px;
}

.box-1 {
    position: relative;
    top: -135px;
    display: flex;
    justify-content: flex-end;
    width: 640px;
    /* height: 890px; */
}

.box-2 {
    background: url(./images/ffddpp121sa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    box-shadow: 0 5px 10px #ffffff60;
    height: 728px;
}

.box-2 h2 {
    font-size: var(--h2-size);
    color: silver;
    mix-blend-mode: difference;
}

.box-2 h4 {
    width: 400px;
    font-size: 30px;
    color: #000;
}

/* ************************** */
.box-3 {
    width: 100%;
    height: 768px;
    mix-blend-mode: difference;
}

.box-3 h2 {
    display: flex;
    justify-content: flex-end;
    font-size: var(--h2-size);
    text-align: right;
    margin: 70px 120px;
    color: azure;
}

.h2-anim1-3,
.h2-anim2-3,
.h2-anim3-3 {
    opacity: 0;
    animation: h2-anim1-3;
    animation-timing-function: linear;
    animation-timeline: view();
    animation-fill-mode: forwards;
}

.h2-anim2-3 {
    animation-delay: 0.5s;
}

.h2-anim3-3 {
    animation-delay: 1s;
}

.img-p-anim-3 {
    opacity: 0;
    animation: img-p-anim-3;
    animation-timing-function: linear;
    animation-timeline: view();
    animation-fill-mode: forwards;
    animation-range: 1% 10%;
    color: azure;
}

.block-icons {
    display: flex;
    justify-content: space-around;
}

.block-box-3-p {
    display: flex;
    justify-content: space-around;
    padding: 20px 0 0;
}

/* ******************************* */

.box-5 {
    text-align: center;
    font-size: 30px;
    padding: 100px 0;
}

.box-5 h2 {
    padding-top: 200px;
    font-size: var(--h2-size);
}

.wrap-box {
    margin: 0 auto;
    width: 700px;
}

.wrap-box p {
    padding: 20px;
    line-height: 1.5;
}

.decoration-2 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 400px;
    z-index: -10;
}

.decoration-3 {
    position: absolute;
    transform: rotate(25deg);
    right: -20px;
    width: 350px;
    z-index: -10;
}

/* ******************************* */

.text {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -30px;
    padding: 10px;
    margin: 0;
}

.box-content hr {
    position: relative;
    top: -60px;
    width: 290px;
}

.box-6 h2 {
    font-size: var(--h2-size);
    padding: 130px 0 20px 180px;
    margin: 0;
    animation-name: h2-anim-5;
    animation-timing-function: linear;
    animation-timeline: view();
    animation-range: 10% 50%;
    animation-fill-mode: forwards;
    opacity: 0;
}

.contents {
    display: flex;
    justify-content: space-around;
    width: 80vw;
    flex-wrap: wrap;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.box-content {
    width: 330px;
    height: 465px;
    border: 1px solid #666;
    border-radius: 16px;
    box-shadow: 0 0px 55px #00000085;
    margin: 50px 0;
    transition: 0.3s;
    animation-name: content-sell;
    animation-timing-function: linear;
    animation-timeline: view();
    animation-range: 10% 50%;
    animation-fill-mode: forwards;
    opacity: 0;

}

[class^="img-contents"] img {
    background-size: contain;
    width: 342px;
    height: 372px;
    padding: 20px;
    border-radius: 26px;
    transition: 0.3s;
}

[class^="img-contents"] {
    text-align: center;
    transform: translate(-6px);
}

.actions {
    position: relative;
    top: -50px;
    text-align: center;
}

.add-to-cart {
    color: #222;
    letter-spacing: 1px;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);
    border: 1px solid #222;
    border-radius: 6px;
    padding: 4px 50px;
    transition: 0.5s;
    box-shadow: 0 5px 40px rgba(69, 69, 69, 0.481);
}

.add-to-cart:hover {
    background: rgb(67 67 67);
    color: #fff;
    box-shadow: 0 5px 40px rgba(30, 30, 30, 0.891);
    padding: 6px 55px;
}

/* *************************************** */

.box-7 {
    position: relative;
    display: block;
    text-align: center;
    width: 960px;
    margin: 0 auto;
}

.box-7 h2 {
    text-align: left;
    padding-top: 200px;
    padding-bottom: 50px;
}

/* ********** */
.box-9 {
    margin-top: 400px;
    display: flex;
}

.box-9 h2 {
    display: block;
}

.video {
    width: 50%;
}

.box-contacts {
    height: 750px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 29px;
}

.contact {
    width: 350px;
    height: 350px;
    padding: 10px 20px;
    position: relative;
    left: 50%;
    background: rgba(255, 255, 255, 0.077);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    border: 1px solid #333;
    box-shadow: 0 0 50px rgb(51, 51, 51);
}

.contact a {
    font-size: 20px;
    color: #2d2d2d;
    transition: 0.3s;
}

.contact a:hover {
    color: rgb(128, 128, 128)
}

.footer {
    background: #222;
    margin: 0 auto;
    padding: 20px;
}

.footer p {
    color: #dbd6d3;
    font-size: 20px;
    padding: 50px 0 0 20px;
    display: flex;
    justify-content: space-around;
}

.footer img {
    padding: 20px 20px 0 0;
}

.footer table {
    margin: 0 auto;
}

.footer th,
td {
    padding: 10px 30px 0 30px;
}

.footer table a {
    margin: 0 auto;
    color: #666;
    text-decoration: none;
    transition: 0.3s;
}

.footer table a:hover {
    margin: 0 auto;
    color: #dbd6d3;
    text-decoration: none;
    transition: 0.3s;
}



@media screen and (max-width: 1340px) {
    .button {
        position: relative;
        right: -500px;
        width: 70px;
        height: 70px;
        font-size: 10px;
    }

    .button a {
        top: 25px;
    }

    .home-page {
        left: -300px;
    }

    .home-page h1 {
        font-size: 60px;
        /* position: relative;
        left: 200px; */
    }

    .hed-h1-1 {
        position: relative;
        left: 70px;
    }

    .hed-h1-2 {
        left: 90px;
    }

    .hed-h1-3 {
        left: 300px;
    }

    .menu {
        position: relative;
        right: -100px;
        top: 18px;
        display: flex;
        align-items: center;
    }

    .menu li {
        margin: 15px;
    }
}

@media screen and (max-width: 1150px) {
    .home-page h1 {
        font-size: 60px;
        position: relative;
        left: 200px;
    }

    .button {
        position: relative;
        right: -300px;
    }

    .menu a {
        font-size: 15px;
    }

    .contact {
        position: relative;
        left: 0;
        margin: 0 60px;
    }

    .box-2 h2,
    .box-3 h2,
    .box-5 h2,
    .box-6 h2,
    .box-7 h2,
    .box-9 h2 {
        font-size: 55px;
        color: #333;
    }
}

@media screen and (max-width: 960px) {
    .button {
        position: relative;
        right: -150px;
    }

    .box-2 h4 {
        font-size: 20px;
        margin: 20px;
        width: 200px;
    }

    .box-2 h2 {
        font-size: 50px;
    }

    .block-img img {
        width: 300px;
    }

    iframe {
        width: 500px;
        height: 300px;
    }

    .box-7 {
        width: auto;
    }

    .box-2 h2,
    .box-3 h2,
    .box-5 h2,
    .box-6 h2,
    .box-7 h2,
    .box-9 h2 {
        font-size: 45px;
    }
}

@media screen and (max-width: 820px) {
    .button {
        right: 0;
        top: 600px;
    }

    .home-page h1 {
        font-size: 50px;
    }

    .menu li {
        margin: 10px;
    }

    .menu a {
        font-size: 10px;
    }

    .menu {
        position: relative;
        top: 30px;
    }

    .block-img {
        right: 30px;
    }

    nav a {
        font-size: 10px;
    }

    .logo img {
        width: 55px;
        position: relative;
        top: 20px;
    }

    .box-2 h2,
    .box-3 h2,
    .box-5 h2,
    .box-6 h2,
    .box-7 h2,
    .box-9 h2 {
        font-size: 35px;
    }

    .content {
        display: flex;
        justify-content: space-around;
        width: 100vw;
        flex-wrap: wrap;
        margin: 0;
    }

    .block-img {
        right: 100px;
    }

    .block-img img {
        width: 200px;
    }

    .home-page {
        top: 20em;
    }

    .block-p {
        top: 660px;
    }

    .box-9 {
        display: contents;
    }

    .box-9 h2 {
        padding-top: 200px;
    }

    .box-contacts {
        height: 750px;
        display: flex;
        position: relative;
        flex-wrap: wrap;
        margin-top: 30px;
    }

    .contact {
        width: 250px;
        height: 270px;
        margin: 0;
    }

    .video {
        width: 100%;

    }
}

@media screen and (max-width: 768px) {
    ul.menu {
        visibility: hidden;
        position: absolute;
        color: #000;
        top: 0;
        left: 9999px;
        width: 160px;
        margin: 0;
        padding: 20px 0;
        background-color: #fff;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
        display: none;
    }

    .menu_btn {
        position: absolute;
        top: 40px;
        right: 0;
        width: 32px;
        height: 32px;
        z-index: 2;
    }

    .menu_btn>span,
    .menu_btn>span::before,
    .menu_btn>span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #ffffff;
    }

    .menu_btn>span::before {
        content: "";
        top: -10px;
    }

    .menu_btn>span::after {
        content: "";
        top: 10px;
    }

    #menu_toggle:checked~ul.menu {
        display: block;
        visibility: visible;
        left: calc(100% - 130px);
        margin-top: 64px;
        padding: 32px;
    }

    #menu_toggle:checked~.menu_btn>span {
        transform: rotate(45deg);
    }

    #menu_toggle:checked~.menu_btn>span::before {
        top: 0;
        transform: rotate(0);
    }

    #menu_toggle:checked~.menu_btn>span::after {
        top: 0;
        transform: rotate(90deg);
    }

    .menu_btn>span,
    .menu_btn>span::before,
    .menu_btn>span::after {
        transition: all 0.25s;
    }

    .menu {
        transition: all 0.25s;
    }
}

@media screen and (max-width: 700px) {
    .button {
        right: 200px;
        top: 700px;
    }

    .wrap-box {
        width: auto;
        font-size: 20px;
    }
}

@media screen and (max-width: 640px) {
    /* #menu ul {
        position: absolute;
        left: 350px;
    }

    #menu {
        left: 0;
    }

    ul.menu {
        visibility: hidden;
        position: absolute;
        top: 0;
        right: -9999px;
        width: 300px;
        margin: 0;
        padding: 80px 0;
        color: #000;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
        padding: 40px;
    }

    ul.menu>li {
        float: none;
        margin-top: 10px;
    }

    #menu_toggle:checked~.menu {
        display: block;
        visibility: visible;
        top: 0;
        right: 20px;
        height: 400px;
    }

    .menu_btn {
        position: absolute;
        top: 60px;
        right: 20px;
        width: 32px;
        height: 32px;
        z-index: 2;
    }

    .menu_btn>span,
    .menu_btn>span::before,
    .menu_btn>span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: grey;
    }

    .menu_btn>span::before {
        content: "";
        top: -10px;
    }

    .menu_btn>span::after {
        content: "";
        top: 10px;
    }

    #menu_toggle:checked~.menu_btn>span {
        transform: rotate(45deg);
    }

    #menu_toggle:checked~.menu_btn>span::before {
        top: 0;
        transform: rotate(0);
    }

    #menu_toggle:checked~.menu_btn>span::after {
        top: 0;
        transform: rotate(90deg);
    }

    .menu_btn>span,
    .menu_btn>span::before,
    .menu_btn>span::after {
        transition: all 0.25s;
    }

    .menu {
        transition: visibility 0.25s;
        background-color: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(10px);
        border-radius: 16px;
        border: 1px solid #fff;
    } */

    #header p {
        font-size: 20px;
    }

    .menu {
        position: relative;
        left: 50px;
        top: 35px;
    }

    .menu a {
        font-size: 9px;
    }

    .menu li {
        margin: 6px;
    }

    .box-contacts {
        height: auto;
        margin-bottom: 50px;
    }

    .contact {
        width: 420px;
        height: 300px;
    }

    .box-2 h2 {
        position: relative;
        top: -400px;
    }

    .box-2 h4 {
        position: relative;
        /* top: -400px; */
        left: -250px;
        width: 300px;
    }

    .box-1 {
        width: auto;
    }

    .button {
        right: 20px;
    }

    .home-page h1 {
        mix-blend-mode: difference;
    }

    .box-2 h2,
    .box-3 h2,
    .box-5 h2,
    .box-6 h2,
    .box-7 h2,
    .box-9 h2 {
        font-size: 30px;
    }

    .video {
        margin-top: 200px;
    }

    .block-icons img {
        width: 40px;
    }

    .block-box-3-p p {
        font-size: 10px;
        margin: 20px;
    }

    .box-3 {
        margin-top: 200px;
    }

    .home-page h1 {
        left: 259px;
    }

    .box-6 h2 {
        width: 600px;
        left: -150px;
        position: relative;
        font-size: 25px;
    }

    iframe {
        width: 300px;
        height: 300px;
    }

    .contact {
        width: 320px;
    }

    .box-3 h2 {
        font-size: 20px;
        right: -100px;
        position: relative;
    }
}

@media screen and (max-width:500px) {
    .menu {
        position: relative;
        top: 70px;
        left: 20px;
    }

    .menu a {
        font-size: 9px;
    }

    .menu li {
        margin: 6px;
    }
}

@media screen and (max-width: 450px) {
    [class^="img-contents"] img {
        width: 242px;
        height: 272px;
    }

    .box-content {
        width: 228px;
        height: 365px;
    }

    .box-content hr {
        width: 200px;
    }

    .box-6 h2 {
        width: auto;
        left: -8px;
        position: relative;
        font-size: 20px;
        padding: 96px 0 0 20px;
    }

    .footer img {
        padding: 0;
    }

    table tr {
        margin: 0 10px 0 0;
    }


}